<div *ngIf="hero">

    <h2>Cliente</h2>
    <div><span>cedula: </span>{{hero.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="hero.name" placeholder="name"/>
        <div><span>direccion: </span>{{hero.direccion}}</div>
        <div><span>telefono: </span>{{hero.telefono}}</div>
        <div><span>fecha_emision: </span>{{hero.fecha_emision}}</div>
        <div><span>subtotal: </span>{{hero.subtotal}}</div>
        <div><span>iva: </span>{{hero.iva}}</div>
        <div><span>total: </span>{{hero.total}}</div>



      </label>
    </div>
  
  </div>